*{
    margin: 0;
    padding:0;  
  }
  
  body {
    position: relative;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: rgb(244, 244, 247);
    color: rgb(135, 107, 60);
  }
  
  h1,
  h2 {
    margin: 200px;
    display: inline-block;
  }
  
  main {
    padding: 0px 5px;
    flex: 1;
  }
  
  li {
    display: inline-flex;
    margin: 2px;
    padding: 5px 20px;
    text-decoration-line: underline;
  }
  
  a {
    text-decoration: none;
    color: #87614b;
  }
  
  header,
  footer {
    height: 70px;
    width: 100%;
    line-height: 60px;
    background-color: #171b1a;
  }
  
  header {
    position: absolute;
    border-bottom: 50px solid #af9a79;
  }
  
  footer {
    position: relative;
    margin-top: 0;
    padding: 0px;
    bottom: 0;
    border-bottom: 2px solid #4F4846;
    color: #FDF8F5;    
  }
  
  figure {
    margin-bottom: 5px;
  }
  
  section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #DDAF94;
    background-color:  #E8CEBF;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
   
  .text-center {
    text-align: right;
  }
  
  .text-right {
    text-align: right;
  }
  