
/* Reset and defaults */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Font Import (if using custom fonts) */

/* Body styles */
body {
  background-color: #d9dcd6;
}

/* Header styles */
.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #7a4700;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h1 .seo {
  color: #d9dcd6;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header div ul {
  list-style-type: none;
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* Hero styles */
.hero {
  height: 500px; /* Adjust the height based on your design preference */
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../assets/banff.png");
  background-size: cover;
  background-position: center;
}

/* Content styles */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Benefits styles */
.benefits {
  margin-right: 20px;
  padding: 20px;
  float: right;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #004B7A;
}

.benefits::after {
  content: "";
  clear: both;
  display: table;
}

/* Footer styles */
.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}

/* Additional styles go here */
